.award-announce {
  padding: 10px 0;
  min-height: 80px;
}

.award-announce .tiser {
  background-image: url('../img/man_heart.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 41px 44px;
  padding-left: 60px;
  padding-top: 0;
  font-size: 13px;
  line-height: 16px;
}

.award-announce .tiser div {
  color: #012448;
}

.award-announce img {
  display: block;
  margin-right: 10px;
  width: 51px;
}

.award-announce span {
  color: #006ead;
}

