.footer {
  color: #fff;
  text-align: center;
  min-height: 68px;
  padding: 9px 0;
  font-size: 12px;
  background-image: url('../img/header_bg_xs.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.footer a {
  color: #fff;
}

.footer span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}